* {  margin: 0; padding: 0; font-family: 'Manrope','Noto Sans KR', sans-serif; -webkit-tap-highlight-color : transparent; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none; }
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.NotoSansKR { font-family: 'Noto Sans KR', sans-serif; }
.Manrope { font-family: 'Manrope', sans-serif; }
input:focus{ outline:none; }
ul span { font-weight: 600; font-size: 20px; }
ul span strong { color: #BF152C; }
svg { margin:0px 0 0 0;  } 
input[type=radio] { display: none; }
.question { width: 1200px; height: 800px; transform: translate(-50%, -50%); left: 50%; top: 50%; position: absolute; border: 5px solid transparent; }
.question ul { text-align: center; position: relative; top: 18px;}
.intro { margin: 130px 0 0 0; }
.start-btn { font-weight: 400; background-color: #BF152C; color:#ffffff; font-size:15px; display: block; border: 2px solid #BF152C; border-radius: 8px; width:300px; height:40px; position: relative; top: 70px; left: 50%; transform: translate(-50%, 0px); margin: 15px 0 15px 0; line-height: 40px;  }
.start-btn:hover { background-color: #B00020; cursor: pointer; }
.btn .next-btn { width: 32px; height: 100px;text-align: center; line-height: 100px; background-color: #BEC8DE; position: absolute; right: 0; top:278px; z-index: 1; border: 2px solid #868EB0; border-radius: 5px; }
.btn .next-btn:hover { background-color: #868EB0; cursor: pointer; }
.btn .prev-btn { width: 50px; height: 50px;text-align: center; line-height: 50px; background-color: #f5f7fc; position: absolute; left: 10px; top:420px; z-index: 1;  border-radius: 25px; }
.btn .prev-btn:hover { background-color: #868EB0; cursor: pointer; }
.btn .prev-btn span { font-size: 30px; }
.age { width:500px; height:80px; border: 2px solid #868EB0; border-radius: 41px; text-align: center; font-size: 60px; margin: 0px 0 0 0; position: relative; top:150px; }
.ex { width: 420px; height: 40px; padding: 0 0 0 20px;}
.progress {width: 830px; margin: 100px 0 -90px 180px; overflow: hidden;  transform: translate(0px, 190px); position: absolute; }
.progress > .progress-bar { width: 800px; height: 2px; margin: 14px 0 0 15px; background-color: #999; line-height: 60px; text-align: center; font-size: 12px; position: relative; }
.progress > .progress-bar > .progress-bar-2 { width: 0px; height: 2px; margin: 14px 0 0 0px; background-color: #BF152C; line-height: 60px; text-align: center; font-size: 12px; position: relative; }
label { font-size:18px; display: block; background-color: #f5f7fc; border: 2px solid #f5f7fc; border-radius: 8px; width:500px; height:36px; position: relative; left: 50%; transform: translate(-50%, 0px); margin: 15px 0 15px 0; line-height: 36px; }
label:hover {background-color: #868EB0; color:#ffffff; cursor: pointer;}
input:checked + label {background-color: #2A3352; color: #ffffff;}
.result { background-color: #BF152C; color:#ffffff; font-size:15px; display: block; border: 2px solid #BF152C; border-radius: 8px; width:300px; height:40px; position: relative; left: 50%; transform: translate(-50%, 0px); margin: 15px 0 15px 0; line-height: 40px;  }
.result:hover { background-color: #B00020; cursor: pointer; }

.Q1 { display: none; }
.Q2 { display: none; }
.Q2_span { position: absolute; left: 50%; transform: translate(-50%, 210px); }
.Q2 label { top:210px; width: 180px; height: 180px; float: left; margin: 50px; left: 316px; transform: translate(0,0);}
.Q2 label:hover #Oval-Copy { stroke: #fff; }
.Q2 input:checked + label #Oval-Copy { stroke: #fff; }
.Q2 label:hover .Q2_span{ color:#000; }
.Q2 input:checked + label .Q2_span { color:#000; }
.Q2 svg { top: 50%; left: 50%; position: absolute; transform: translate(-50%, -50%); }
.Q3 { display: none; }
.Q3 label { top:275px; width: 116px; height: 116px; float: left; left: 65px; margin-left: 50px; transform: translate(0,0); line-height: 116px;}
.Q4 { display: none; }
.Q4 label { top:275px; width: 116px; height: 116px; float: left; left: 150px; margin-left: 50px; transform: translate(0,0); line-height: 116px;}
.Q5 { display: none; }
.Q5 label { position: absolute; top:17px; width: 129px; height: 129px; left:-8px; margin-left: 30px; transform: translate(0,0); line-height: 129px; border-radius: 65px; float: left;}
.Q5 svg { position: absolute; left: 0px; }
.Q5_mask { position: relative; width: 173px; height: 172px; float: left; top:250px; left: 72px; margin-left: 31px; }
.Q6 { display: none; }
.Q6 label { top:380px; width: 180px; border: none;  left: 90px; margin-left: 30px; transform: translate(0,0); float: left; }
.Q6 svg { position: absolute;  left: 0px; }
.Q6_mask1 { position: absolute; width: 174px; height: 112px; top:-130px; }
.Q6_mask2 { position: absolute; bottom: 0px; background-color: transparent; overflow: hidden; width: 174px;}
.Q6_mask2 svg { bottom: 0px; }
.Q7 { display: none; }
.Q7 label { position: absolute; top:17px; width: 129px; height: 129px; left:-8px; margin-left: 30px; transform: translate(0,0); line-height: 129px; border-radius: 65px; float: left;}
.Q7 svg { position: absolute; left: 0px; }
.Q7_mask { position: relative; width: 173px; height: 172px; float: left; top:250px; left: 72px; margin-left: 31px; }
.Q8 { display: none; }
.Q8 label { top:200px;}
.Q9 { display: none; }
.Q9 label { top:200px;}
.Q10 { display: none; }
.Q10 label { top:200px;}
.Q11 { display: none; }
.Q11 label { top:200px;}
.Q12 { display: none; }
.Q12 label { top:210px; left: 195px; width: 200px; float: left; height: 200px; border-radius: 110px; margin-right: 50px; border: 10px solid #BEC8DE; overflow: hidden; background-repeat: no-repeat; background-size: 200px 200px;}
.Q12 label:hover { border: 10px solid #868EB0; background-color: #ffffff; color:#000000; }
.Q12 input:checked + label { border: 10px solid #2A3352; background-color: transparent; color:#000000; }
.Q13 { display: none; }
.Q13 label { top:200px;}
.Q14 { display: none; }
.Q14 label { top:256px;}
.Q15 { display: none; }
.Q15 label { top:210px; left: 195px; width: 200px; float: left; height: 200px; border-radius: 110px; margin-right: 50px; border: 10px solid #BEC8DE; overflow: hidden; background-repeat: no-repeat; background-size: 200px 200px;}
.Q15 label:hover { border: 10px solid #868EB0; background-color: #ffffff; color:#000000; }
.Q15 input:checked + label { border: 10px solid #2A3352; background-color: transparent; color:#000000; }
.Q16 { display: none; }
.Q16 label { top:210px; left: 195px; width: 200px; float: left; height: 200px; border-radius: 110px; margin-right: 50px; border: 10px solid #BEC8DE; overflow: hidden; background-repeat: no-repeat; background-size: 200px 200px; }
.Q16 label:hover { border: 10px solid #868EB0; background-color: #ffffff; color:#000000; }
.Q16 input:checked + label { border: 10px solid #2A3352; background-color: transparent; color:#000000; }
.Q17 { display: none; }
.Q17 label { top:357px; display: none;}
.Q17 .result { top:320px; font-weight: 600;}
.Q17 .result-text { position: relative; top: 330px; font-weight: 400;}
.Q17 .loading { display: none; position: relative; top: 140px; }
.Q17 .loading i { position: relative; top:250px; font-size: 80;}
.Q17 .loading span { position: relative; top:180px; border:none; color:#000000; }
.question1{ display:none; position: absolute; top: 60px; width: 1200px; height:800px; overflow: hidden;}
.question1 .svg-box { width: 1200px; height: 600px; margin: 140px 0 0 0;  }
.loading-text { font-weight: 400; margin: 30px 0 0 0; line-height: 36px; display: none; top:40px !important; }
.dummy-img { opacity: 0; width: 1px; height: 1px; }
.dummy-img div { opacity: 0; width: 1px; height: 1px; }
.moving-r {
    -webkit-animation-name: movingr;
    -webkit-animation-duration: 0.5s;
    animation-name: movingr;
    animation-duration: 0.5s;
}
@-webkit-keyframes movingr {
    from { transform:translate(300px,0); }
    to { transform:translate(0px,0); }
}
@keyframes movingr {
    from { transform:translate(300px,0); }
    to { transform:translate(0px,0); }
}
.moving-l {
    -webkit-animation-name: movingl;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    animation-name: movingl;
    animation-duration: 0.5s;
}
@-webkit-keyframes movingl {
    from { transform:translate(-300px,0px); }
    to { transform:translate(0px,0px); }
}
@keyframes movingl {
    from { transform:translate(-300px,0); }
    to { transform:translate(0px,0); }
}
.moving-p-i {
    margin: -80px 0 -90px 180px;
    -webkit-animation-name: movingpi;
    -webkit-animation-duration: 1s;
    animation-name: movingpi;
    animation-duration: 1s;
}
@-webkit-keyframes movingpi {
    0% {  margin: 100px 0 -90px 180px; }
    50% {  margin: 100px 0 -90px 180px; }
    100% {  margin: -80px 0 -90px 180px; }
}
@keyframes movingpi {
    0% {  margin: 100px 0 -90px 180px; }
    50% {  margin: 100px 0 -90px 180px; }
    100% {  margin: -80px 0 -90px 180px; }
}
.lst1{fill:#ECD5E3;}
.lst2{fill:#E1DDDA;}
.lst3{fill:#EDECE8;}
.lst4{fill:#B2C7E3;}
.lst5{fill:#C1D4E9;}
.lst6{fill:#E6C1CF;}
@-webkit-keyframes ro {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes ro {
    0% { transform: rotate(-360deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}
#ro-l {
    -webkit-animation-name: ro;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: ro;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    
}
@-webkit-keyframes op1 {
    0% { opacity: 0; }
    8.3% { opacity: 1; }
    58.3% {opacity: 0; }
    100% {opacity: 0; }
}
@keyframes op1 {
    0% { opacity: 0; }
    8.3% { opacity: 1; }
    58.3% {opacity: 0; }
    100% {opacity: 0; }
}
#op1 {
    -webkit-animation-name: op1;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: op1;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    
}
@-webkit-keyframes op2 {
    0% { opacity: 0; }
    16.6% { opacity: 1; }
    66.6% {opacity: 0;}
    100% {opacity: 0; }
}
@keyframes op2 {
    0% { opacity: 0; }
    16.6% { opacity: 1; }
    66.6% {opacity: 0;}
    100% {opacity: 0; }
}
#op2 {
    -webkit-animation-name: op2;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: op2;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    
}
@-webkit-keyframes op3 {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 0; }
    100% {opacity: 0; }
}
@keyframes op3 {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 0; }
    100% {opacity: 0; }
}
#op3 {
    -webkit-animation-name: op3;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: op3;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    
}
@-webkit-keyframes op4 {
    0% { opacity: 0; }
    33.3% { opacity: 1; }
    83.3% { opacity: 0;}
    100% {opacity: 0; }
}
@keyframes op4 {
    0% { opacity: 0; }
    33.3% { opacity: 1; }
    83.3% { opacity: 0;}
    100% {opacity: 0; }
}
#op4 {
    -webkit-animation-name: op4;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: op4;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    
}
@-webkit-keyframes op5 {
    0% { opacity: 0; }
    41.6% { opacity: 1; }
    91.6% { opacity: 0; }
    100% {opacity: 0; }
}
@keyframes op5 {
    0% { opacity: 0; }
    41.6% { opacity: 1; }
    91.6% { opacity: 0; }
    100% {opacity: 0; }
}
#op5 {
    -webkit-animation-name: op5;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: op5;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    
}
@-webkit-keyframes op6 {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% {opacity: 0; }
}
@keyframes op6 {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% {opacity: 0; }
}
#op6 {
    -webkit-animation-name: op6;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: op6;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

#circle { position: relative;  width: 30px; height: 30px;  border-radius: 40px; overflow: hidden; float: left; margin: -15px 170px 0 0; background-color: #fff; }
#circle:nth-child(6) { margin: -15px 0 0 0;}
#cir { position: absolute; width: 26px; height: 26px; border:2px solid #999; border-radius: 40px; text-align: center; line-height: 24px; }
#cir-a { position: relative; width: 26px; height: 26px; background-color: #bf152c; border: 2px solid #bf152c; border-radius: 40px; text-align: center; line-height: 24px; opacity: 0; }
#cir span { font-size: 14px; color: #999; font-weight: 600; }
.cir-a { opacity: 1 !important;
    -webkit-animation-name: cir-a;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    animation-name: cir-a;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
    
}
.cir-a { opacity: 1 !important;
    -webkit-animation-name: cir-a;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    animation-name: cir-a;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
    
}
.cir-b { opacity: 1 !important;
    -webkit-animation-name: cir-b;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    animation-name: cir-b;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
    
}
#chk {  width: 30px; height: 12px;   transform: rotate(-39deg) translate(-1px, 11px);  }
.chk-a {border-left: 3px solid #fff; border-bottom: 3px solid #fff; position: relative; top: -40px;
    -webkit-animation-name: chk-a;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    animation-name: chk-a;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
}
.chk-b {border-left: 3px solid #fff; border-bottom: 3px solid #fff; position: relative; top: -40px;
    -webkit-animation-name: chk-b;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    animation-name: chk-b;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
}
@keyframes cir-a {
    0% { opacity: 1; transform:translate(-40px, 0); }
    50% {opacity: 1;}
    100% { opacity: 1; }
    
}
@keyframes chk-a {
    0% { opacity: 0; }
    49%{ opacity: 0;}
    50% { transform: rotate(-39deg) translate(-7.5px, 19.5px); height: 0px; width: 0px; }
    80% { transform: rotate(-39deg) translate(-4.5px, 20.5px); height: 10px; width: 0px; }
    100% { transform: rotate(-39deg) translate(-1px, 11px);width: 30px; }
}
@keyframes cir-b {
    0% { opacity: 0;}
    49%{ opacity: 0;}
    50% { opacity: 1; transform:translate(-40px, 0); }
    75% {opacity: 1;}
    100% { opacity: 1; }
    
}
@keyframes chk-b {
    0% { opacity: 0; }
    49%{ opacity: 0;}
    50% { transform: rotate(-39deg) translate(-7.5px, 19.5px); height: 0px; width: 0px; }
    80% { transform: rotate(-39deg) translate(-4.5px, 20.5px); height: 10px; width: 0px; }
    100% { transform: rotate(-39deg) translate(-1px, 11px);width: 30px; }
}