
.st0{fill:#FFFFFF;stroke:#ffffff;stroke-width:0;stroke-miterlimit:10;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#BEC8DE;stroke:#FFFFFF;stroke-width:0.4577;stroke-miterlimit:3.6613;cursor: pointer;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#BEC8DE;stroke:#FFFFFF;stroke-width:0.2746;stroke-miterlimit:3.6613;cursor: pointer;}
.st3{fill-rule:evenodd;clip-rule:evenodd;fill:#BEC8DE;cursor: pointer;}
.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#BEC8DE;fill-opacity:0;cursor: pointer;}
.st5{fill:#BEC8DE;fill-opacity:0; display: none;cursor: pointer;}
.st6{fill:#BEC8DE;stroke:#FFFFFF;stroke-width:0.4577;stroke-miterlimit:3.6613;cursor: pointer;}
.active{ fill:#2A3352 !important; }
.question1{display: block;}
